 
    @max_width: none;   
    @gutter: 20px;      

    @wp_1: 0px;
@wp_2: 0px;
@wp_3: 0px;
@import "defaults.less";
@import "uib-header-footer.less";
@import "styles/header-bg -- background.less";
@import "bootstrap-button.less";
@import "styles/d-margins -- margins.less";
@import "styles/colorBTN -- custom.less";

@import "styles/grid-pad -- padding.less";
@import "styles/row-height-1 -- row_height.less";
@import "receptacle-alignment.less";
@import "bootstrap-label-position.less";
@import "side_by_side.less";
@import "styles/lgn -- margins.less";
@import "styles/text -- text_para.less";
@import "styles/bar-bg -- background.less";
@import "styles/thumb-bg -- thumb.less";
@import "styles/bar-gutter -- gutter.less";
@import "image-alignment.less";
@import "styles/scale-image -- image_sizing_no_scale.less";
@import "bootstrap-list-item.less";
@import "bootstrap-list-item.less";
@import "bootstrap-list-item.less";
@import "bootstrap-list-group.less";

@import "styles/row-height-2 -- row_height.less";

@import "styles/row-height-3 -- row_height.less";

@import "styles/row-height-4 -- row_height.less";
@import "styles/footer-bg -- background.less";
@import "uib_row_5.less";
@import "styles/row-height-5 -- row_height.less";
@import "uib_row_6.less";
@import "styles/row-height-6 -- row_height.less";
@import "styles/default-sprite-button -- sprite_default.less";
@import "styles/hover-sprite-button -- sprite_hover.less";
@import "styles/active-sprite-button -- sprite_active.less";
@import "styles/sprite-sizing -- sprite_sizing.less";
@import "styles/default-graphic-button -- default.less";
@import "styles/hover-graphic-button -- hover.less";
@import "styles/active-graphic-button -- active.less";
@import "styles/default-graphic-text -- text.less";
@import "styles/default-graphic-sizing -- graphic_sizing.less";
@import "styles/default-image-sizing -- graphic_image_sizing.less";
@import "uib_row_7.less";
@import "styles/row-height-7 -- row_height.less";

@import "styles/panel -- custom.less";
@import "uib_row_8.less";
@import "styles/row-height-8 -- row_height.less";
@import "uib_row_9.less";
@import "styles/row-height-9 -- row_height.less";
@import "uib_row_10.less";
@import "styles/row-height-10 -- row_height.less";

@import "styles/row-height-11 -- row_height.less";

@import "styles/row-height-12 -- row_height.less";
@import "uib_row_13.less";
@import "styles/row-height-13 -- row_height.less";
@import "uib_row_14.less";
@import "styles/row-height-14 -- row_height.less";
@import "styles/image-gallery-size -- image_gallery_size.less";
@import "styles/back -- background_page.less";

@import "styles/row-height-15 -- row_height.less";
@import "styles/margininput -- margins.less";

@import "styles/btnmargin -- margins.less";
@import "styles/label -- text_para.less";
@import "bootstrap-badge-and-label.less";
@import "styles/sd -- text-align.less";
@import "styles/s -- width.less";
@import "styles/tunggakans -- text_para.less";
@import "styles/labelTEXT -- text_para.less";
@import "styles/tungggakmargin -- margins.less";
@import "styles/charts-size -- charts_size.less";

@import "uib_row_16.less";
@import "styles/row-height-16 -- row_height.less";
@import "uib_row_17.less";
@import "styles/row-height-17 -- row_height.less";
@import "uib_row_18.less";
@import "styles/row-height-18 -- row_height.less";
@import "uib_row_19.less";
@import "styles/row-height-19 -- row_height.less";
@import "styles/imgallign -- text-align.less";
@import "styles/headerimg -- image_sizing_no_scale.less";